/* CSS: Sidebar Shop */
.sidebar-shop {
    position: fixed;
    top: 0;
    left: -700px;
    z-index: 4;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    transition: 1s all ease-in-out;
}

/* CSS: Sidebar Menu Container*/
.sidebar-shop-container {
    padding: 20px 0;
    height: inherit;
    max-height: 100vh;
    overflow-y: auto;
}

/* CSS: Sidebar Menu Header*/
.sidebar-shop-header {
    padding: 0 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(172, 172, 172, .4);
}

.sidebar-shop-header>h2 {
    font: 500 2rem/2rem "Bodoni Moda", serif;
    letter-spacing: .6px;
}

.sidebar-shop-header .icon-close {
    font: 500 2rem/2rem "Bodoni Moda", serif;
}

/* CSS: Products Header: Form Input Name */
.sidebar-shop-form {
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
}

.form-input-name {
    width: auto;
    position: relative;
}

.form-input-name>input {
    box-sizing: border-box;
    font: 500 1.2rem/ 2.0rem "Roboto", sans-serif;
    display: block;
    width: 100%;
    border: 2px solid rgba(148, 148, 148, .4);
    border-radius: 0;
    padding: 8px 30px 8px 10px;
}

.form-input-name>input::placeholder {
    font: 500 1.2rem/ 2.0rem "Roboto", sans-serif;
    color: rgba(148, 148, 148, .7);
}

.icon-close-input {
    cursor: pointer;
    font: 500 2.0rem/ 2.0rem "Roboto", sans-serif;
    color: rgba(148, 148, 148, .7);
    position: absolute;
    top: 10px;
    right: 10px;
    transition: .5s all ease;
}

/* CSS: Products Header: Form Select Options */
.select-container {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.form-select {
    width: 100%;
    padding: 8px 10px;
    font: 500 1.2rem/ 2.0rem "Roboto", sans-serif;
    border: 2px solid rgba(148, 148, 148, .4);
    background-color: #fff;
    color: rgba(148, 148, 148, .7);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.select-container::after {
    content: "\2039";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(-90deg);
    pointer-events: none;
    font-size: 2.4rem;
    color: #333;
}

.form-select:focus {
    outline: none;
}

.form-select option {
    font: 500 1.2rem/ 2.0rem "Roboto", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    border-radius: 0;
}


/* CSS: Active */
.sidebar-shop-active {
    left: 0;
}