.shop {
    position: relative;
    width: 100%;
}

/* CSS: Shop Container */
.shop-container {
    width: 1140px;
    margin: 30px auto;
}

/* CSS: Shop Row */
.shop-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CSS: Shop Col */
.col-navbar {
    width: 20%;
}

.col-products {
    width: 75%;
}

/* CSS: Icons */
.icon-menu-shop {
    cursor: pointer;
    font-size: 2.0rem;
    background-color: #1A1919;
    color: #fff;
    padding: 8px;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
}

/* CSS: Active */
.icon-menu-shop {
    display: none;
}

/* CSS: Responsives */
@media screen and (max-width:575px) {
    .shop-container {
        width: 90%;
        margin: 50px auto;
    }

    .col-navbar {
        display: none;
    }

    .col-products {
        width: 100%;
    }

    .icon-menu-shop {
        display: block;
    }

}

@media screen and (min-width:576px) and (max-width:765px) {
    .shop-container {
        width: 90%;
        margin: 50px auto;
    }

    .col-navbar {
        display: none;
    }

    .col-products {
        width: 100%;
    }

    .icon-menu-shop {
        display: block;
    }
}

@media screen and (min-width:766px) and (max-width:991px) {
    .shop-container {
        width: 90%;
        margin: 50px auto;
    }

    .col-navbar {
        display: none;
    }

    .col-products {
        width: 100%;
    }

    .icon-menu-shop {
        display: block;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .shop-container {
        width: 90%;
        margin: 50px auto;
    }
}